In [4]:
# convention for importing pandas
import pandas as pd
import numpy as np
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [ ]:
# Accessing Series data using indexes
days[0]

In [ ]:
days[1:]

A DataFrame can be described as a table (2 dimensional) made up of many series with the same index. It holds data
in rows and columns just like a spreadsheet. Series, dictionaries, lists, other dataframes, and numpy arrays can 
be used to create new ones

In [ ]:
#print an empty DataFrame
print(pd.DataFrame())

In [ ]:
#Create a dataframe from a dictionary

# create dictionary df_dict
df_dict = {"Country":['Ghana', 'Kenya', 'Nigeria', 'Togo'],
          'Capital':['Accra', 'Nairobi', 'Abuja', 'Lome'],
          'Population': [10000, 8500, 35000, 12000],
          'Age':[60, 70, 80, 75]}

# Use dictioanry to create a dataframe
df = pd.DataFrame(df_dict, index=[2,4,6,8])

In [ ]:
df

In [ ]:
# Create a dataframe from a list

# create a list
df_list = [['Ghana', 'Accra', 10000, 60],
           ['Kenya', 'Nairobi', 8500, 70],
           ['Nigeria', 'Abuja', 35000, 80],
           ['Togo', 'Lome', 12000, 75]]

# Create dataframe from list
# Note that column heading was listed here while using list
df1 = pd.DataFrame(df_list, columns=['Countries', 'Capital', 'Population', 'Age'], index=[2,4,6,8]) 
print(df1)

at, iat, iloc and loc are accessors used to retrieve data in dataframes. iloc selects values from the rows and 
columns by using integer index to locate positions, while loc selects rows or columns using labels. at and iat are 
used to retrieve single values such that at uses the column and row labels and iat uses indices.

In [ ]:
df.iloc[3] #this selects an entire row, while df.iloc[3,2] select a cell where df.iloc[3,2] intersect

In [ ]:
df.loc[6] # the 6 in df.loc[6] is workign as a label It is actually the index label of the items selected.

In [ ]:
# Select the capital column
df['Capital']

In [ ]:
df.at[6,'Country'] # row labelled 6, column labelled Country

In [ ]:
df.iat[2,0] # Select exactly row 2, column 0

Finally, Indexes in pandas are immutable arrays with unique elements. They can also be described as ordered sets for retrieving data in a dataframe and collaborating with multiple dataframes.

The important Pandas functionalities: indexing, reindexing, selection, group, drop entities, ranking, sorting, duplicates and indexing by hierarchy.
Summary and descriptive statistics: measure of central tendency, measure of dispersion, skewness and kurtosis, correlation and multicollinearity.
Similar to Numpy, Pandas has some functions that provide descriptive statistics such as the measures of central tendency, dispersion, skewness and kurtosis, correlation and multicollinearity. Some functions are mode(), median(), mean(), sum(), std(), var(), skew(), kurt() and min(). The describe function gives the summary  of the numeric columns in a dataframe displaying count, mean, standard deviation, interquartile range, minimum and maximum values.

In [ ]:
df['Population'].sum() # sum all the populations

In [ ]:
df.mean() # find the of the numeric component of the dataframe

In [ ]:
df.describe() # describe the dataframe being currently worked on.

The missing data enigma: Importance, types and handling missing data.
    
Often, data used for analysis in real life scenarios is incomplete as a result of omission, faulty devices, and 
many other factors. Pandas represent missing values as NA or NaN which can be filled, removed, and detected with 
functions like fillna(), dropna(), isnull(), notnull(), replace().

In [6]:
df_dict2 = {'Name':['James', 'Yemen', 'Cara', np.nan],
           'Profession':['Researcher', 'Artist', 'Doctor', 'Writer'],
           'Experience':[12,np.nan, 10, 8],
           'Height':[np.nan, 175, 180, 150]}
new_df = pd.DataFrame(df_dict2)
print(new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Cara      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [7]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [8]:
# Remove rows with missing values
new_df.dropna()

   Name Profession  Experience  Height
2  Cara     Doctor        10.0   180.0