In [6]:
# ###########################
# Njoku Okechukwu Valentine #
# ID : 146a0d67ae81f000     #
#############################    
    
import pandas as pd
import numpy as np
from math import floor

In [2]:
dataset = pd.read_csv('dataset.csv')
# dataset['Y2014'].sum() 

# elements = dataset.groupby('Element')
# elements.first()
# #elements.get_group('Y2014')

# dataset['Y2016'].isnull().count()

7965086.130000001

# Introduction to Python for machine learning questions
# No 11 Question
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

332319.31 and 125467.80

341432.12 and 331245.67

209460.54 and 269617.53

213450.34 and 35617.22

# N0 11 question answer

In [3]:
groupby_item = dataset.groupby('Item').sum()
print(f"The animal fats consumption for \nYears  2014 and 2017 are {groupby_item['Y2014']['Animal fats']} and {groupby_item['Y2017']['Animal fats']} respectively")

The animal fats consumption for
Years  2014 and 2017 are 209460.5399999999 and 269617.53 respectively

# No. 12  Question
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 
decimal places?
10.60 and 8.49

8.

5.76 and 10.60

135.236 and 1603.404

10.60 and 17.01

# No 12 Answer

In [41]:
print("For 2015, \nmean : {:.3f} and \
\nstandard deviation : {:.3f} \
\naccross the dataset for 2015".format(dataset.mean()['Y2015'], \
                                       dataset.std()['Y2015']))
print("To 3 decimal places")

For 2015,
mean : 135.236 and
standard deviation : 1603.404
accross the dataset for 2015
To 3 decimal places

# No 13 Question
What is the total number and percentage of missing data in 2016 to 2 decimal places?

Options
1506 and 2.47

1548 and 2.54 

1506 and 2.47

1535 and 2.52

1437 and 2.15 percent

# No 13 Answer

In [48]:
print("""
Total number of missing data : {:.2f}
Percentage of missing data :   {:.2f}""".format(dataset.isnull().sum()['Y2016'].sum(), \
dataset.isnull().sum()['Y2016']/len(dataset)*100))

Total number of missing data : 1535.00
Percentage of missing data :   2.52

# No 14 Question
Which year had the highest correlation with ‘Element Code’? 

Options
2016

2014

2017

2015

# No 14 Answer

In [79]:
# function to return the closes correlation to 'Element Code'

highest_corr = max(dataset['Element Code'].corr(dataset['Y2014']), 
dataset['Element Code'].corr(dataset['Y2015']), 
dataset['Element Code'].corr(dataset['Y2016']),
dataset['Element Code'].corr(dataset['Y2017']),
dataset['Element Code'].corr(dataset['Y2018']))

if highest_corr == dataset['Element Code'].corr(dataset['Y2014']):
    print("The Highest Correlation ot Element Code is Y2014")
elif highest_corr == dataset['Element Code'].corr(dataset['Y2015']):
    print("The Highest Correlation ot Element Code is Y2015")
elif highest_corr == dataset['Element Code'].corr(dataset['Y2016']):
    print("The Highest Correlation ot Element Code is Y2016")
elif highest_corr == dataset['Element Code'].corr(dataset['Y2017']):
    print("The Highest Correlation ot Element Code is Y2017")
elif highest_corr == dataset['Element Code'].corr(dataset['Y2018']):
    print("The Highest Correlation ot Element Code is Y2018")

The Highest Correlation ot Element Code is Y2014

# No 15 Question
What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

Options
2017

2014

2016

2015

# No 15 Answer

In [159]:
# Do groupby as required from question, use index location to slice resulting dataframe
# from 7th to 8th row (actually selecting only row 7, "Import Quantity") and from 
# 3 to 7th column getting, now the years involved. After which we get the max in a variable
# dataset.groupby('Element').sum().iloc[7:8,3:8].max() gets us only the years and row of 
# interest dataframe into a variable
# we then checked the year with highest entry. 
highest_import_q = dataset.groupby('Element').sum().iloc[7:8,3:8].max().max()
df = dataset.groupby('Element').sum().iloc[7:8,3:8].max()
df[df == highest_import_q]

Y2017    294559.09
dtype: float64

# From the above, 2017 has the highest Import Quantity

# No 16 Question

What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

Options
1954537.22

202118.43

1931287.75

207134.67

1947019.23

# No 16 Answert

In [185]:
print("total number of the sum of Production in 2014")
dataset.groupby('Element').sum().iloc[11:12,3:4]

total number of the sum of Production in 2014

                 Y2014
Element
Production  1931287.75

# N0 17 Question
Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

Options
Import quantity  8

Food supply quantity (kg/capita/yr) 7

Food supply (k/cal/capita/day) 6

Domestic supply quantity 1

In [224]:
df_16 = dataset.loc[0:10,['Y2018', 'Element']].groupby('Element').sum()
#.drop([5,6], axis=0, inplace=True)
#new_df_16 = df_16.drop([2,3,4,5], axis=0)
#df_16.drop(['Export Quantity', 'Feed'])
df_16

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Element'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"